<div class="textwidget margin-top-30">
  <p>Event details</p>
</div>
<div class="widget">
  <form name="create-user-form" id="create-user-form" method = post>
    <div class="form-group">
      <label for="firstName">Name</label>
      <input type="text" id="name" name="name" required value="{{input.name}}"/>
    </div>
    <div class="form-group">
      <label for="lastName">Place</label>
      <input type="text" id="place" name="place" required value="{{input.place}}"/>
    </div>
    <div class="form-group">
      <label for="roomNumber">Priority</label>
      <input type="text" id="priority" name="priority" required value="{{input.priority}}"/>
    </div>
    <div class="form-group">
      <label for="email">Going with</label>
      <input type="text" id="with" name="with" value="{{input.with}}"/>
    </div>
    <div class="form-submit">
      <input type="submit" value="Create my event" />
    </div>
    <span style="color:red">{{error}}</span>
  </form>
</div>
